@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Onlive Academy</h1>
    <p>Click the button for the application form. </p>
    <h2>
         <a class = "btn btn-primary"asp-controller="course" asp-action="apply">Apply</a></h2>
</div>
